* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  margin: 10px;
  padding: 10px;
}
.username-input {
  padding: 5px;
}
.container .submit-btn {
  margin: 10px;
}
